@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --bg-color: #ccd5ae;
    --bg-color-accent: #e9edc9;
    ---secondary-color: #d4a373;
    --secondary-color-accent: #fb8500;
    --heading: 'Permanent Marker', cursive;
}

.icon {
    height: 2rem;
    width: 2rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #fafafa;
    /* font-family: 'Open Sans', sans-serif; */ 
}

.container {
    display: grid;
    grid-template-columns: 30rem calc(100vw - 30rem);
    grid-template-rows: 100vh;
}

.header {
    font-size: 1.6rem;
    font-family: var(--heading);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
    color: #eee;
    background-color: black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.side-bar {
    background-color: black;
}

.side-bar-heading {
    font-size: 2.4rem;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--heading);
}

ul {
    list-style: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: .5rem 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    cursor: pointer;
}

.todolist-btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: black;
    background-color: burlywood;
}

.action-btns {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.create-list {
    margin-right: 5rem;
}

.create-item {
    margin-right: 2rem;
}

.btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    height: 4rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    color: white;
    background-color: seagreen;
}

.todo-item-list {
    min-height: 30rem;
    max-width: 100rem;
    margin: 0 auto;
}

.list-name {
    font-size: 2.4rem;
    font-family: var(--heading);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.list-modal, .item-modal {
    font-size: 2rem;
    display: none;
    min-height: fit-content;
    border-radius: 1rem;
    padding: 2rem;
    width: 40rem;
    background-color: #fafafa;
    color: black;
    position: fixed;
    top: 10rem;
    left: 40%;
    box-shadow: 0 0 0 999px rgba(0,0,0,.8);
    transition: all 2s;
}

.header-4 {
    font-family: var(--heading);
    text-align: center;
    text-transform: uppercase;
}

.input-header {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-left: 2rem;
}

input, select {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    width: 90%;
    height: 3rem;
}

.modal-btns {
    display: flex;
    justify-content: center;
}

.modal-btns .btn {
    margin-right: 2rem;
}

table {
    width: 100%;
    font-size: 1.4rem;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

tr:nth-child(even) {
    background-color: #eee;
}

th {
    padding: 1rem;
}

thead {
    text-transform: uppercase;
    background-color: rgb(37, 37, 37);
    color: #fff;
}

.todo-item {
    text-align: center;
}

.delete-btn {
    background-color: rgba(255, 0, 0, 0.705);
}

.todo-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

         
.btn-grad {
    font-size: 1.3rem;
    font-weight: 600;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    margin: 10px;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;           
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
